# <b> Buy and Hold </b>

Example showing the backtesting of a Buy and Hold strategy.

When the strategy starts, it will buy 50% of AAPL and 50% of GOOG.
As soon as the backtest completes, it will return a dataframe 'result' containing the results, which can be used to visualize the equity's evolution and other metrics, like when buy or sell orders are placed.

## <b> Import Libraries </b>

In [28]:
# Import this library
from nbacktest import Backtest, Strategy

# Import other libraries
import yfinance as yf

# Ignore warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## <b> Create Strategy </b>

In [29]:
class TestStrategy (Strategy):

    def on_start(self):

        print("Strategy started!")
        
        quantity1 = int((self.broker.balance/2)/self.price["AAPL"])
        quantity2 = int((self.broker.balance/2)/self.price["GOOG"])

        order1 = self.buy("AAPL", quantity1)
        order2 = self.buy("GOOG", quantity2)

        print("Bought %s AAPL and %s GOOG" % (quantity1, quantity2))


    def on_end(self):
        """"
        This function is called when the backtest of all candles is finished
        """
        print("Strategy finished!")


    def next(self):
        """"
        This function is called every candle (iteration)
        """
        #print("Backtest iteration:", self.iteration)
        pass

## <b> Download OHLC Data from Yahoo Finance </b>

In [30]:
universe = ["AAPL", "GOOG"] # List containing the tickers of all the assets you are backtesting

ohlc = yf.download(universe, start="2018-01-01", end="2023-01-01", interval="1d") # Download OHLC data from Yahoo Finance

print(ohlc.shape)
ohlc.tail()

[*********************100%***********************]  2 of 2 completed

(1259, 12)

Price                       Adj Close                  Close             \
Ticker                           AAPL       GOOG        AAPL       GOOG
Date
2022-12-23 00:00:00+00:00  130.631348  89.589981  131.860001  89.809998
2022-12-27 00:00:00+00:00  128.818420  87.714592  130.029999  87.930000
2022-12-28 00:00:00+00:00  124.865593  86.248192  126.040001  86.459999
2022-12-29 00:00:00+00:00  128.402328  88.732086  129.610001  88.949997
2022-12-30 00:00:00+00:00  128.719376  88.512634  129.929993  88.730003

Price                            High                    Low             \
Ticker                           AAPL       GOOG        AAPL       GOOG
Date
2022-12-23 00:00:00+00:00  132.419998  90.099998  129.639999  87.620003
2022-12-27 00:00:00+00:00  131.410004  89.500000  128.720001  87.535004
2022-12-28 00:00:00+00:00  131.029999  88.519997  125.870003  86.370003
2022-12-29 00:00:00+00:00  130.479996  89.364998  127.730003  86.989998
2022-12-30 00:00:00+00:00  129.949997  88.830002  127.430000  87.029999

Price                            Open               Volume
Ticker                           AAPL       GOOG      AAPL      GOOG
Date
2022-12-23 00:00:00+00:00  130.919998  87.620003  63814900  17815000
2022-12-27 00:00:00+00:00  131.380005  89.309998  69007800  15470900
2022-12-28 00:00:00+00:00  129.669998  87.500000  85438400  17879600
2022-12-29 00:00:00+00:00  127.989998  87.029999  75703700  18280700
2022-12-30 00:00:00+00:00  128.410004  87.364998  77034200  19190300

## <b> Run Backtest </b>

In [31]:
bt = Backtest(data=ohlc, universe=universe, strategy=TestStrategy, price_column="Close", cash=100_000)

result = bt.run()

Strategy started!
Bought 1161 AAPL and 938 GOOG
Strategy finished!

In [32]:
result.head()

Price                      Adj Close                 Close             \
Ticker                          AAPL       GOOG       AAPL       GOOG
Date
2018-01-02 00:00:00+00:00  40.568928  53.119549  43.064999  53.250000
2018-01-03 00:00:00+00:00  40.561859  53.991409  43.057499  54.124001
2018-01-04 00:00:00+00:00  40.750290  54.186924  43.257500  54.320000
2018-01-05 00:00:00+00:00  41.214226  54.976486  43.750000  55.111500
2018-01-08 00:00:00+00:00  41.061146  55.211411  43.587502  55.347000

Price                           High                   Low             \
Ticker                          AAPL       GOOG       AAPL       GOOG
Date
2018-01-02 00:00:00+00:00  43.075001  53.347000  42.314999  52.261501
2018-01-03 00:00:00+00:00  43.637501  54.314499  42.990002  53.160500
2018-01-04 00:00:00+00:00  43.367500  54.678501  43.020000  54.200100
2018-01-05 00:00:00+00:00  43.842499  55.212502  43.262501  54.599998
2018-01-08 00:00:00+00:00  43.902500  55.563499  43.482498  55.081001

Price                           Open                Volume            \
Ticker                          AAPL       GOOG       AAPL      GOOG
Date
2018-01-02 00:00:00+00:00  42.540001  52.417000  102223600  24752000
2018-01-03 00:00:00+00:00  43.132500  53.215500  118071600  28604000
2018-01-04 00:00:00+00:00  43.134998  54.400002   89738400  20092000
2018-01-05 00:00:00+00:00  43.360001  54.700001   94640000  25582000
2018-01-08 00:00:00+00:00  43.587502  55.111500   82271200  20952000

Price                     _iteration        _equity _buy _sell _trade
Ticker
Date
2018-01-02 00:00:00+00:00          0  100000.000000  1.0   NaN    NaN
2018-01-03 00:00:00+00:00          1  100811.105370  NaN   NaN    NaN
2018-01-04 00:00:00+00:00          2  101227.153454  NaN   NaN    NaN
2018-01-05 00:00:00+00:00          3  102541.373394  NaN   NaN    NaN
2018-01-08 00:00:00+00:00          4  102573.611980  NaN   NaN    NaN

## <b> Backtest Statistics </b>

In [33]:
print("---------------------------")
print("Final balance: %.2f" % bt.broker.balance)
print("Final equity: %.2f" % bt.broker.equity)
print("---------------------------")

bt.broker.orderbook

---------------------------
Final balance: 53.04
Final equity: 234130.50
---------------------------

,iteration,action,ticker,quantity,price,commission,slippage,total
id,,,,,,,,
0,0,buy,AAPL,1161,43.064999,0,0,-49998.463406
1,0,buy,GOOG,938,53.250000,0,0,-49948.500000

In [34]:
bt.broker.positions

        quantity  commission  slippage  total_invested          value
ticker
AAPL        1161           0         0   -49998.463406  150848.721497
GOOG         938           0         0   -49948.500000   83228.743149